.card-front-block {
  width: 400px;
  height: 500px;
  margin: 8px;
  position: absolute;
  display: block;
  overflow: hidden;
  top: 1.35rem;
  left: 41vw;

  background-color: #f2f2f2;
  border-radius: 20px;
}