.container {
  margin: 2em;
  display: flex;
  flex-wrap: wrap;


  /* Form wrapper */
  .form-wrapper {
    position: sticky;
    width: 35%;
    margin: 2em;
    top: 3rem;

    @media (max-width: 1150px) {
      position: relative;
      width: 100%;
      margin:0;
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media (min-width: 1550px){
      position: relative;
      margin : 0 auto;
    }
  }

  /* Card list */
  .card-list {
    
    width: 65%;
    left: 35vw;
    margin-top: -50%;

    
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media (max-width: 1150px) {
      width: 100%;
      margin: 0;
      left: 0;
      margin-top: 2em;
    }

    @media (min-width: 1550px){
      width: 100%;
      margin-top: 5%;
      left: 0vw;
    }
  }
}